:root {
  /* Colors */
  --hover-clr: #00d8c9;
  --heading-clr: #fffbfa;
  --bg-clr: #231e23;
  --preload-bg: #ddd;

  /* Fonts */

  --fontlogo: SpaceAge;
  --font-1: Zabal;
  --font-2: "Koulen", cursive;
}
/* Customize Fonts */
@font-face {
  font-family: SpaceAge;
  src: url(/fonts/space\ age.ttf);
}

@font-face {
  font-family: Zabal;
  src: url(/fonts/ZabalDEMO-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 2px solid lightgreen; */
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 100vw;
  border: 3px solid #00d8ca;
}

html::-webkit-scrollbar-track {
  background-color: #00d8ca;
}

div#preloader {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: grid;
  justify-content: center;
  align-items: center;
}

.preloader__img img {
  height: 350px;
}

.site-navbar {
  width: 100%;
  height: auto;
  background-color: var(--bg-clr);
  display: flex;
}
.site-logo {
  height: 63.5px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 3;
  margin-left: 10px;
}
.site-logo a {
  color: var(--heading-clr);
  font-family: var(--fontlogo);
  font-size: 35px;
  font-weight: bolder;
  text-decoration: none;
}

.site-links {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
}
.site-links_one ul {
  list-style: none;
  padding: 20px 0;
}
.site-links_one ul li {
  display: inline-block;
  margin: 0 20px 0 0;
}
.site-links_one ul li a {
  color: var(--heading-clr);
  font-size: 25px;
}
div.site-links_two {
  display: flex;
  align-items: center;
}
div.harmburger-container {
  margin-right: 10px;
}
div.harmburger-container a {
  color: var(--heading-clr);
  font-size: 25px;
}
/* navBar */
div.nav-menu {
  width: 100%;
  height: 100%;
  background-color: #231e23;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 400;
  transform: translateY(100%);
  visibility: hidden;
  /* display: none; */
}
.nav-menu.active {
  display: block;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.9s ease-in-out;
}
.sub-menu {
  height: 400px;
  display: flex;
  display: -moz-flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-menu li {
  display: flex;
  display: -moz-flexbox;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.sub-menu li .nav-linkd {
  font-family: "Koulen", cursive;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 25px;
  color: #ddd;
  padding: 3px 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background: #231e23;
  box-shadow: 0 5px #00d8c9;
  border-radius: 5px;
}
.sub-menu li .nav-linkd:hover {
  box-shadow: 0 3px #fffbfa;
  top: 1px;
  color: #00d8c9;
}
.sub-menu li .nav-linkd:active {
  box-shadow: 0 0 #fffbfa;
  top: 5px;
  padding: 0 25px;
}

section.site-hero {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background: rgb(35, 30, 35);
  background: linear-gradient(
    180deg,
    rgba(35, 30, 35, 1) 0%,
    rgba(37, 37, 37, 1) 50%,
    rgba(0, 216, 201, 1) 100%
  );
}

.site-hero .container {
    width: 100%;
    padding-top: 35px;
    padding-right: 65px;
    padding-left: 65px;
    margin-right: auto;
    margin-left: auto;
}
.carousel{
  position: relative;
  width: 100%;
  height: 4.5rem;
  text-align: center;
  line-height: 45px;
  
}

.carousel .changeHidden{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: auto;
  height: 13rem;
  line-height: 13rem;
  width: 100%;
  overflow: hidden;

}

.carousel .changeHidden .contenant {

    position: relative;
    animation: carousel 10s ease-in-out infinite;
}

.carousel .changeHidden .element{
  color: var(--heading-clr);
  font-weight: 700;
  font-size: 2rem;
 font-family: "Koulen", cursive;}

@keyframes carousel {
  0%, 20% {
    transform: translateY(0);
  }
  25%, 45% {
      transform: translateY(-13rem);
  }
  50%, 70% {
    transform: translateY(-26rem);
  }
  75%, 95% {
    transform: translateY(-39rem);
  }
  100% {
    transform: translateY(-52rem);
  }

}
h1 {
  color: #fffbfa;
  font-size: 40px;
  font-family: "Koulen", cursive;
  text-align: center;
}
div#wrapper {
    width: 100%;
    display: flex;
    display: -moz-flexbox;
    justify-content: center;
    margin-top: -2rem;

  }
  div.wrapper-container-one {
    max-width: 680px;
    min-height: 350px;
    background: #ffffff1a;
    border-radius: 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 30px rgba(27, 26, 26, 0.5);
    backdrop-filter: blur(5px);
    transition: 0.9s ease-in-out;
    display: flex;
    display: -moz-flexbox;
    flex-direction: column;
    gap: 26px;
    margin-top: 20px;
    overflow: hidden;
  }
   div.wrapper-container-one::before {
    content: "";
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, 0.502);
    transition: 0.8s ease-out;
    transform: skewX(45deg) translateX(1000px);
    animation: shiny 2s ease 2s;
  }
  div.wrapper-container-one:hover::before {
    transform: skewX(45deg) translateX(-650px);
  }

  @keyframes shiny {
    from {
      transform: skewX(45deg) translateX(800px);
    }
    to {
      transform: skewX(45deg) translateX(-650px);
    }
  }

  h2.wrapper-container-one-heading {
    text-align: center;
    font-family: "Zabal", sans-serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #231e23;
    line-height: 5rem;
    background-color: #00d8c9;
    font-size: 25px;
  }
  div.wrapper-container-one > .message {
    position: relative;
    font-size: 15.5px;
    font-family: "DM Sans", sans-serif;
    color: #fffbfa;
    text-align: center;
    margin: 0 30px;
  }
  .message__icon {
    display: flex;
    display: -moz-flexbox;
    justify-content: center;
  }
  .iconify.toolkits {
    font-size: 40px;
    margin-right: 13px;
    color: #ddd;
    padding: 3px 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #231e23;
    box-shadow: 0 5px #00d8c9;
  }
  .iconify.toolkits:hover {
    box-shadow: 0 3px #fffbfa;
    top: 1px;
    color: #00d8c9;
  }
  .iconify.toolkits:active {
    box-shadow: 0 0 #fffbfa;
    top: 5px;
  }

  /* resource Section */

.resource {
  display: flex;
  display: -moz-flexbox;
  flex-direction: column;
  background-color: #231e23;
  /* background-color: #ddd; */
}
.resource .intro {
  display: flex;
  display: -moz-flexbox;
  justify-content: center;
  /* background-color: #ddd;         */
}
.resource .wrapper-of-resource {
  padding-top: 1rem;
  display: flex;
  display: -moz-flexbox;
   align-items: center;
  flex-direction: row;
}
.wrapper-of-resource__container-2 {
  /* background-color: #ddd;  */
  width: 100%;
   display: flex;
   display: -moz-flexbox;
  justify-content: center;
}
.wrapper-of-container-2 {
  display: flex;
  display: -moz-flexbox;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 36px;
  max-width: 1350px;
  /* background-color: salmon; */
  }
.wrapper-of-container-2_content {
  max-width: 300px;
  min-height: 450px;
  height: 280px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background: #231e23;
  box-shadow: 5px 5px 10px #1e1a1e, -5px -5px 10px #282328;
}
.wrapper-of-container-2_content .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00d8ca;
  margin-bottom: 20px;
}

.wrapper-of-container-2__img {
  width: 260px;
  height: 130px;
  display: block;
  margin-bottom: 20px;
}
.wrapper-of-container-2__img img {
  width: 100%;
}
.wrapper-of-container-2_content p {
  color: #fffbfa;
  font-family: "DM Sans", cursive;
}
.wrapper-of-container-2__link {
  display: flex;
  display: -moz-flexbox;
  justify-content: center;
  margin-top: 45px;
}

button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    #005e58 0%,
    #00a79b 8%,
    #00a79b 92%,
    #005e58 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;

  background: #00d8c9;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.front a {
  font-size: 0.99rem;
  font-weight: 900;
  font-family: "DM Sans", cursive;
  color: #231e23;
  text-decoration: none;
}
.front a:hover {
  color: #fffbfa;
}

button:hover {
  filter: brightness(110%);
}

button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

button:focus:not(:focus-visible) {
  outline: none;
}
.wrapper-of-resource__container-3 {
  flex-basis: 200px;
}
.wrapper-of-resource__container-3 .sub-menu-two {
  display: flex;
  display: -moz-flexbox;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sub-menu-two li {
  list-style: none;
}
.sub-menu-two li .nav-linkd-2 {
  font-family: "Koulen", cursive;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 25px;
  color: #ddd;
  padding: 3px 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background: #231e23;
  box-shadow: 0 5px #00d8c9;
  border-radius: 5px;
}
.sub-menu li .nav-linkd-2:hover {
  box-shadow: 0 3px #fffbfa;
  top: 1px;
  color: #00d8c9;
}
.sub-menu li .nav-linkd-2:active {
  box-shadow: 0 0 #fffbfa;
  top: 5px;
  padding: 0 25px;
}
div.curvy-svg {
  z-index: -1;
  position: relative;
  top: -20px;
}


/* Navigation Mobile Responsiveness */

@media only screen and (max-width: 480px) {
  .site-navbar {
    width: 100%;
    position: fixed;
    bottom: -1px;
    z-index: 600;
  }
  .site-logo {
    flex-grow: 1.5;
    flex-shrink: 0;
  }
  .site-links {
    flex: 1 0 auto;
  }
  /* navBar */
  div.nav-menu {
  }
  .nav-menu.active {
  }

  .site-hero .container {
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
 div#wrapper {
    margin-top: -1rem;
}
 div.wrapper-container-one{
   height: 450px; 
 }
 div.wrapper-container-one > .message {
    position: relative;
    top: 30px;
    font-size: 15.5px;
    font-family: "DM Sans", sans-serif;
    color: #fffbfa;
    text-align: center;
    margin-bottom: 15px;
    
  }
  .message__icon {
    position: relative;
    top: .5rem;
    display: flex;
    display: -moz-flexbox;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .iconify.toolkits {
    font-size: 35px;
    margin-right: 13px;
    margin-bottom: 13px;
    color: #ddd;
    padding: 3px 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    background: #231e23;
    box-shadow: 0 5px #00d8c9;
    border-radius: 5px;
  }
  .iconify.toolkits:hover {
    box-shadow: 0 3px #fffbfa;
    top: 1px;
    color: #00d8c9;
  }
  .iconify.toolkits:active {
    box-shadow: 0 0 #fffbfa;
    top: 5px;
  }

}
