:root{
    /* Colors */
    --hover-clr:#00d8c9;
    --heading-clr: #fffbfa;
    --bg-clr: #231e23;
    --preload-bg: #ddd;

    /* Fonts */
    
    --fontlogo: SpaceAge;
    --font-1: Zabal;
    --font-2: "Koulen", cursive;
    
}
/* Customize Fonts */
@font-face {
  font-family: SpaceAge;
  src: url(/fonts/space\ age.ttf);
}

@font-face {
  font-family: Zabal;
  src: url(/fonts/ZabalDEMO-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 2px solid lightgreen; */
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 100vw;
  border: 3px solid #00d8ca;
}

html::-webkit-scrollbar-track {
  background-color: #00d8ca;
}
